/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN STYLES 
(current prof call css as styles and the file as styles.css, for me I prefer to use as we used 1st semester = css and main.css */

/* prof usually uses body first even if he put h1 first, he goes back and put body above just because of hierachy */
/* body will apply to the whole page */
body{
    max-width: 800px;
    background-color: lightblue;
    /* to centre an element, use margin:0 auto; */
    margin: 0 auto;
}

/* this will apply to all of your h1 tags on your html page */
h1{
    font-size: 32px;
    font-weight: bold;
    color: brown; /*this is for font color but the tag is just color*/

    /* the CSS box model contains 3 differents areas:
        margin, border, and padding
            margin pushes things away, outside of your elements */
    /* 2 values means top-bottom, left-right */
    margin: 15px 0;
}

/* you can target element based on what they are inside */
section img{
    /* only scale one dimension of an image, width or height */
    width: 30%;
    float: left; /* floating an image will make the text sit next to it, and wrap around it */
   /* 4 values means top, right, bottom, left */
    margin:0 15px 15px 0;
}

nav a{
    color: azure;
    font-size: 1.2em; /* em is relative yo the font size of the parent - 1.2 = 120% */
    text-decoration: none; /* removes the underlining */
}

/* links have states, which you style using pseudoclasses */
nav a:hover{
    color: crimson;
}

nav a:active{
    color: orangered;
}

/* there is also a visited state, for when users have been to a link */

/* style an id using # */
#current{
    background-color: antiquewhite;
    color: plum;
}